/* reset generici */
*{
line-height: 160%;
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
    --basecolor: #9792e4;
}

html {
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
}

li{
    list-style-type: none;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover{
    opacity: 0.8;
}

button:hover{
    opacity: 0.8;
}


/* ANCHOR classi generiche */

.container{
    padding-inline: 22%;
}

.link-button{
    padding: 10px 20%;
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
}

.purple{
    background-color: var(--basecolor);
    color: white;
}

/* ANCHOR header */
header{
    background-color: #0084fd;
}

header div{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    gap: 1em;
    color: white;
}

header nav div{
    font-size: 40px;
    color: white;
    display: none;
}

/* main */

main>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section{
    padding-block: 50px;
}
  
section:nth-child(even) {
  background-color: var(--basecolor);
}

/* ANCHOR intro */

#intro{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

#intro .card{
    width: calc((100%/3) - 15px);
    display: flex;
    padding: 15px;
    background-color: #b5ddff;
    color: #647a8d;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;

}

#intro .small.card{
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

}

#intro .small.card figure{
    fill: #0084fd;  
    width: 20%;
}


#intro .large.card{
    padding-bottom: 0;
    width: calc(((100%/3)*2) - 15px);
    aspect-ratio: 2 / 1;
}

.large.card div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 5%;
}

.large.card button{
    background-color: #0084fd;
    font-size: 16px;
    font-weight: bold;
}


.large.card figure{
    align-self:flex-end;
    width: 50%;
}

.card h3{
    color:#0084fd;
}

.large img{
    width: 80%;
}


/* ANCHOR planning */

#planning{
    display: flex;
    padding: 5% 25%;
    gap: 40px;
}

.left-plan{
    display: flex;
    flex-direction: column;
    gap:40px;
    width: 50%;
    padding: 20px;
    color: white;
}
.right-plan{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: white;
    align-self: flex-end;
    border-radius: 50px;
}

.right-plan div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-block: 40px;
    gap: 20px;
    text-align: center;
}

.right-plan div p{
    font-style: italic;
}

.right-plan div figure{
    width: 60%;
}

.right-plan div button{
    background-color: var(--basecolor);
    padding: 15px 18px;
    line-height: 100%;
    border-radius: 50%;
    border: none;
}

/* ANCHOR testimonials */

#testimonials{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
}

#testimonials>span{
    text-transform: uppercase;
}

#testimonials>h1{
    color: var(--basecolor);
}
#testimonials>p{
    font-size: 20px;
}

.test-card{
    display: flex;
    padding: 30px 20px;
    border-radius: 30px;
    gap: 40px;
    background-color: var(--basecolor);
    color: white;
}

#testimonials .test-card figure{
    width: 20%;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

#testimonials :first-of-type.test-card figure{
    background-image: url(../img/testimonial1.jpg);
}

#testimonials :nth-of-type(2).test-card figure{
    background-image: url(../img/testimonial2.jpg);
}

#testimonials :last-of-type.test-card figure{
    background-image: url(../img/testimonial3.jpg);
}

.test-card div{
    width: 70%;
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.test-card div p :first-child{
    vertical-align: super;
}
.test-card div p :last-child{
    vertical-align: sub;
}

.test-card div span{
    text-transform: uppercase;
    font-weight: bold;
}

/* ANCHOR features */

#features{
    text-align: center;
}

#features h1{
    color: white;
    padding-bottom: 50px;
}

#features>div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: left;
}

.benefits{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border-radius: 30px;
    gap:20px;
    width: calc((100%/3) - 20px);
    padding: 30px;
}

.benefits p{
    color: #647a8d;
}

.benefits span{
    font-size: 70px;
    font-weight: bold;
}

.benefits span,
.benefits h2{
    color: var(--basecolor);
}


/* ANCHOR about-us */

#about-us{
    display: flex;
    justify-content: space-between;
    padding-inline: 25%;
}

.company{
    width: 70%;
}

.company h1,
.personal{
    color: var(--basecolor);
}

.company p{
    line-height: 300%;
}

.company p:first-of-type{
    margin-block: 40px;
}


.personal{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
}

.personal figure{
    display: flex;
    justify-content: flex-end;
    font-size: 80px;
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.personal .link-button{
    padding: 10px;
}
.personal .link-button i{
    margin-right: 5px;
}


/* ANCHOR get-started */

#get-started div{
    width: 50%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
}

#get-started span{
    text-transform: uppercase;
    opacity: 0.8;
}

#get-started h2,
#get-started h1,
#get-started small{
    text-transform: capitalize;
}

#get-started h2{
    font-size: 40px;
}

#get-started h1{
    font-size: 100px;
    color: #fdc15f;
}

#get-started button{
    color: var(--basecolor);
    font-size: 20px;
    font-weight: bold;
    padding: 20px 80px;
    border-radius: 50px;
    border: none;
}

#get-started a{
    text-decoration: underline;    
}

/* ANCHOR footer */

footer{
    background-color: #333333;
    text-align: center;
    color: white;
}

footer div{
    padding-block: 50px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

footer a{
    color:var(--basecolor);
    text-decoration: underline;
}


/* ANCHOR tablet */
@media screen and (max-width:768px) {
    .container{
        padding-inline: 10px;
    }

    h1{
        font-size: 40px;
    }
    
    h2{
        font-size: 25px;
    }

    header div figure{
        padding-inline: 1em;
    }

    header nav div{
        display: inline-block;
    }

    header nav ul{
        display: none;
    }

    .large.card{
        flex-direction: column;
    }
    .large.card figure{
        align-self:flex-start;
        width: 50%;
    }
    .large.card div{
        width: 100%;
        gap: 20px;
    }

    #planning{
        display: flex;
        padding: 30px 10px;
        flex-direction: column;
        align-items: center;
    }

    .right-plan div figure{
        width: 100%;
    }

    .left-plan{
        flex-direction: column;
        width: 90%;
    }
    .right-plan{
        width: 90%;
        align-self: initial;
    }

    .test-card div{
        width: 70%;
        font-size: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .benefits{
        width: calc((100%/2) - 20px);
        padding: 30px;
    }

    #features>div{
        text-align: left;
        justify-content: center;
    }

    #about-us{
        padding-inline: 10%;
    }

    .company{
        width: 60%;
    }

    .company p{
        line-height: 200%;
    }

    .personal{
        width: 35%;
    }

    .personal figure{
        font-size: 40px;
        width: 100%;
        aspect-ratio: 1/1;
        background-image: url(../img/about.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }

    #get-started div{
        width: 90%;
    }
    #get-started h2{
        font-size: 30px;
        font-weight: bold;
    }
    
    #get-started h1{
        font-size: 60px;
        color: #fdc15f;
    }

}

/* ANCHOR mobile */
@media screen and (max-width:480px) {
    .container{
        padding-inline: 40px;
    }

    header ul{
        display: none;
        gap: 1em;
        color: white;
    }
    
    #intro .card{
        width: 100%;
        padding-inline: 30px;   
    }

    #intro .small.card figure{
        width: 30%;
    }
    #intro .large.card{
        width: 100%;
        align-items: center;
        
    }
    #intro .large.card div{
        width: 100%;
        align-items: center;
    }
    #intro .large.card figure{
        width: 100%;   
    }

    #intro .large.card figure img{
        width: 100%;   
    }

    .test-card{
        padding: 30px 10px;
        flex-direction: column;
        align-items: center;
    }

    .test-card div{
        width: 90%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #testimonials .test-card figure{
        width: 70%;
    }

    .benefits{
        width: 100%;
    }

    #about-us{
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .company{
        width: 100%;
    }
    .personal{
        width: 100%;
    }

    .personal figure{
        width: 50%;
    }

    footer div{
        width: 90%;
    }
}