/* reset generici */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
  }

li{
    list-style-type: none;
}
img{
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}


/* ANCHOR classi generiche */

.container{
    padding-inline: 22%;
}

.link-button{
    padding: 10px 20%;
    border-radius: 25px;
    border: none;
    color: white;
}

/* ANCHOR header */
header{
    background-color: #0084fd;
}

header div{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    gap: 1em;
    color: white;
}

/* main */

main>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
section:nth-child(even) {
  background-color: #9792e4;
}

/* ANCHOR intro */

#intro{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding-block: 2em;
    line-height: 160%;
}

#intro .card{
    width: calc((100%/3) - 15px);
    display: flex;
    padding: 15px;
    background-color: #b5ddff;
    color: #647a8d;
    border-radius: 15px;

}

#intro .small.card{
    aspect-ratio: 1;
}

#intro .large.card{
    padding-bottom: 0;
    flex-basis: calc(((100%/3)*2) - 15px);
    aspect-ratio: 2 / 1;
}

.large.card div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 5%;
}

.large.card button{
    background-color: #0084fd;
    font-weight: bold;
}

.large.card figure{
    align-self:flex-end;
    width: 50%;
}

.large.card h2{
    color:#0084fd;
}

.large img{
    width: 80%;
}









/* ANCHOR tablet */
@media screen and (max-width:768px) {
    body{background-color: red;}
}

/* ANCHOR mobile */
@media screen and (max-width:480px) {
    body{
        background-color: green;
    }
}
